:root{
    color : black;
    font-weight: 400;
}
.container{
    padding-left: 20%;
    padding-right: 10%;
}
.heading{
    font-size: 40px;
    color: #495e57;
    font-weight: 900;
}
.img1{
    height: 300px;
    width: 1200px;
    overflow: hidden;
}