:root{
     font-size: 18px;
  font-weight: 900;
  font-family: Monospace;
}


.list {
  list-style-type: none;
  padding: 0;
}

.listItems {
  padding: 10px;
  /* Add some padding */
 
  transition: color 0.3s ease;
}

.listItems:hover {
  color: #495e57;
}

.btnS {
    position: relative; /* Establishes positioning context for the pseudo-element */
    background-color: white;
    color: black; /* Default text color */
    border: 2px solid black; /* Ensure correct border property */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.3s; /* Smooth transition for text color */
    border-radius: 50px; /* Make button look like a pill */
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow the button */
    display: inline-flex; /* Ensure the button fits text content */
    align-items: center; /* Center align text vertically */
    justify-content: center; /* Center align text horizontally */
    z-index: 1; /* Ensure button is above the pseudo-element */
}

.btnS::after {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Absolute positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #495e57; /* The color to fill */
    transform: translateY(100%); /* Start below the button */
    transition: transform 0.3s; /* Smooth transition for the transform property */
    z-index: -1; /* Ensure it's behind the text */
}

.btnS:hover::after {
    transform: translateY(0); /* Move the pseudo-element up to cover the button */
}

.btnS:hover {
    color: white; /* Ensure text color is white on hover */
}

