.cartContainer {
    z-index: 500;
    background-color: #ffffff;
  }
.checkoutButton {
    position: fixed;
    bottom: 0;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  }
  
